@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

/* base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555;
}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.75;
}

a:hover {
    opacity: 1;
}

a.btn {
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: lightblue;
    color: white;
    opacity: 1;
}


@media (max-width: 800px) {
    section {
        padding: 50px 20px;
    }
}

/* header */

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: .5s fade .5s ease-in forwards;
    z-index: 1;
}

@keyframes fade {
 0% {
    opacity: 0;
 }
 100% {
     opacity: 1;
 }
}

header h2 {
    font-family: 'Work Sans', sans-serif;
}

header h2 a {
    color: white;
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 15px; 
   
}

header nav li a {
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}


@media (max-width: 800px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
    }
}


/* hero */

.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
.hero .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.hero h1 {
 font: bold 60px "Work Sans", sans-serif;
 margin-bottom: 15px;
 color: white;
}

.hero h3 {
    font: normal 24px "Work Sans", sans-serif;
    margin-bottom: 50px;
}

.hero a.btn {
    padding: 20px 30px; 
}

.hero-content-area {
    
    margin-top: 100px;
    animation: .5s slide .5s forwards;
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin: 0;
    }
}


@media (max-width: 800px) {
    .hero {
       min-height: 600px;
    }
    .hero h1 {
        font-size: 48px;
    }
    .hero h3 {
        font-size: 24px;
    }
    .hero a.btn {
        padding: 14px 40px;
    }
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: lightblue;
    border: 0;
    margin-bottom: 50px;
}

section p {
    width: 775px;
    line-height: 2;
    padding: 0 20px ;
    margin-bottom: 40px;
    text-align: center;
}

section h3.title {
    text-transform: uppercase;
    font: bold 32px "Work Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

.plans .grid li {
        height: 350px;
        padding: 20px;
        background-clip: border-box;
        background-size: cover;
        background-position: center;
}

.plans .grid li.small {
    flex-basis: 30%;
}

.plans .grid li.large {
    flex-basis: 70%;
}


@media (max-width: 1100px) {
    .plans .grid li.small,
    .plans .grid li.large {
       flex-basis: 50%;
    }
}

@media (max-width: 800px) {
    .plans .grid li.small,
    .plans .grid li.large {
       flex-basis: 100%;
    }
}


section:not(.hero):nth-child(even) {
    background-color: #eee;
}

.packages .grid li{
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li i{
   color: lightseagreen;
}

.packages .grid li h4{
    font-size: 30px;
    color: lightseagreen;
    margin: 25px 0;
}

@media (max-width: 800px) {
    .packages .grid li {
       flex-basis: 100%;
       padding: 20px;
    }
}


.testimoni .quote {
    font-size: 22px;
    font-weight: 300;
    line-height: 1;
}

.testimoni i {
    font-size: 9px;
}



@media (max-width: 800px) {
    .testimoni .quote {
       font-size: 18px;
       margin: 15px 0;
    }
    .testimoni .author {
        font-size: 18px;
    }
}



.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

.contact form .btn {
    padding: 18px 42px;
}

.contact form input {
    padding: 15px;
    margin-right: 15px;
    flex: 1;
    font-size: 18px;
    color: #555;
}




@media (max-width: 1000px) {
    .contact form input{
      flex-basis: 100%;
      margin: 0 0 20px;
    }

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    padding: 20px 0;
}

footer p:first-child {
    font-size: 18px;
    font-weight: 600;
    text-transform: none;
}

footer p {
    text-transform: uppercase;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


footer ul li i{
    font-size: 18px;
    color: lightskyblue;
}

@media (max-width: 1100px) {
    footer { 
      flex-direction: column;
      margin: 0 0 20px;
    }
    footer p {
        text-align: center;
        margin: 0 0 20px 0;
    }
}
